
body{
    background-color: lightskyblue;
    text-align: center;
}
.SignUp{
    
    margin: auto;
    text-align: center;
    width: 350px;
    height: 600px;
    margin: 20px;
    padding: 30px 50px 50px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}

.SignUp h2{
    font-size: 20px;
    align-items: center;
}
.button {
    position: fixed;
    top: 0;
    right: 0;
    background-color: lightcyan; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
  header{
      text-align: center;
  }  
    
  
  #links{
      margin-left: auto;
      margin-right: auto; 
      padding: 40px;
      
  }


